Assignment(1)_Python_tasks.docx
Article Similarity Assignment.pdf
Cafe Sales Data Cleaning.docx
week_1/Project 1.docx
week_3/.vscode
week_3/project_manager_FastAPI/venv
week_3/project_manager_FastAPI/.vscode
week_3/project_manager_FastAPI/Frontend/node_modules
week_3/project_manager_FastAPI/__pycache__
week_6/2- yemen cars data pipeline project from scraping to deployment/venv
week_6/2- yemen cars data pipeline project from scraping to deployment/.venv

# VS Code
.vscode/

# Python
venv/
.venv/
__pycache__/
*.pyc

# Frontend
node_modules/
dist/
.vite/